.res-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.res-cards img {
  height: 180px;
  width: 200px;
  border: #e46d47;
  margin: 15px;
}

.nav-items {
  display: flex;
  margin: 10px;
  text-decoration: none;
  list-style: none;
}

.n-items {
  margin: 10px;
}

.header {
  background-color: aliceblue;
  border: 1px solid #e46d47;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  height: 65px;
}
