@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
/* header */

.header {
  background-color: transparent;
  box-shadow: 0px 0px 8px #02060c99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.logo-img {
  height: 80px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.nav-items {
  display: flex;
  margin: 10px;
  text-decoration: none;
  list-style: none;
  padding-right: 20px;
}
.n-item {
  margin: 15px;
}
.n-items {
  margin: 15px;
}
.n-items,
.n-item {
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.n-items:hover {
  transform: translateY(-2);
}

.n-item:hover {
  color: #e46d47;
}
.login-btn {
  width: 70px;
  padding: 0px 10px;
  border-radius: 30%;
  border: 0px;
  background-color: #02060c99;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.login-btn:hover {
  background-color: #e46d47;
}
/* body */
.body {
  background-color: white;
}

/* search button */
.search-container {
  margin: 0px 0px 15px 0px;
  margin-left: 15px;
  text-align: center;
}
.search-container input {
  border-radius: 20px;
  color: #02060c99;
  border: 2px solid black;
  opacity: 50%;
  margin: 30px auto;
  width: 500px;
  height: 40px;

  text-align: center;
  font-weight: 1.2rem;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.searchtext:hover {
  box-shadow: 0px 0px 4px #02060c99;
  color: #02060c99;
  opacity: 80%;
}

/* filter button */
.btn {
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #02060c6c;
  background-color: white;
  border: 2px solid #02060c6c;
  transition: all 0.3s ease-in-out;
}
.filter-btn {
  margin-left: 14rem;
}

.reset {
  margin-left: 0px;
}

.btn:hover {
  box-shadow: 0px 0px 3px #02060c99;
  transform: translateY(-2);
  color: #e46d47;
}

/* restaurant cards  */

.res-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-cards {
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 4px #02060c6c;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.res-cards:hover {
  box-shadow: 0px 0px 8px #02060c99;
  transform: translateY(-2);
}
.res-cards img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.res-card-item {
  width: 200px;
  color: #02060c99;
}

.res-info {
  padding: 10px 10px;
  padding-bottom: 10px;
}
.res-info h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.res-info h5 {
  color: #02060c6c;
  overflow: hidden;
  font-weight: 500;
  margin: 10px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.res-info h6 {
  color: #02060c6c;
  font-weight: 500;
  margin: 10px 0px;
}
.shimmer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shimmer-item {
  height: 330px;
  width: 250px;
  margin: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #02060c99;
}

/* About us page */
.user-container {
  max-width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px;
  color: #02060c99;
}

.userdetail {
  margin: 30px auto;
  background-color: white;
  width: 330px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 4px #02060c99;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.userdetail:hover {
  transform: translateY(-2);
  box-shadow: 0px 0px 8px #02060c99;
}

.userlike {
  display: flex;
  justify-content: space-between;
  color: #02060c6c;

  margin: 15px 10px 20px 0px;
}
.userlike button {
  width: 50px;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 0px 2px #02060c99;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.userlike button:hover {
  box-shadow: 0px 0px 4px #02060c99;
  transform: translateY(2);
}
.userdetail h3 {
  color: #02060c99;
}
.userdetail h4 {
  color: #02060c6c;
  margin-bottom: 10px;
  font-weight: 500;
}
.userdetail h1 {
  text-align: center;
  font-weight: 800;
}

/* contact us page  */
.contact-container {
  width: 100%;
  background-color: white;
  color: #02060c99;
  text-align: center;
  padding: auto;
}

/* menuCard */
.Menu-container {
  display: grid;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  box-shadow: 2px 0px 4px #02060c99;
  transition: all 0.2s ease-in-out;
}
.Menu-container:hover {
  transform: translateY(-2);
  box-shadow: 2px 0px 8px #02060c99;
}
.Menu-container img {
  width: 150px;
  height: 100px;
  border-radius: 9px;
  grid-area: 2/6/4/-1;
}
.Menu-container h2 {
  font-weight: 500;
  font-size: 1.4rem;
  grid-area: 1/1/2/5;
  margin-top: 10px;
}
.menudes {
  grid-area: 2/1/3/5;
  font-weight: 300;
  width: 80rem;
  margin-top: 10px;
}

.menurating {
  grid-area: 3/1/4/2;
  margin-top: 10px;
  font-weight: 200;
}

.menureview {
  grid-area: 4/1/5/2;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
